*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins',sans-serif;
}

body{
    background:#f5f8f2;
    color:#222;
}

.hero{
    min-height:100vh;
    background: linear-gradient(135deg,#0a3b2a,#14532d,#166534);
    color:white;
    padding:30px 8%;
}

.navbar{
    display:flex;
    justify-content:space-between;
    align-items:center;
}

.logo{
    display:flex;
    align-items:center;
    gap:12px;
    font-size:28px;
    font-weight:700;
}

.logo img{
    width:55px;
    height:55px;
    object-fit:contain;
}

.logo span{
    color:white;
}
.navbar ul{
    display:flex;
    list-style:none;
    gap:30px;
}

.navbar a{
    color:white;
    text-decoration:none;
    font-weight:500;
}

.hero-content{
    display:flex;
    justify-content:space-between;
    align-items:center;
    margin-top:80px;
    gap:40px;
}

.left{
    max-width:550px;
}

.left h4{
    color:#ffd54f;
    margin-bottom:15px;
}

.left h1{
    font-size:60px;
    line-height:1.1;
    margin-bottom:20px;
}

.left p{
    font-size:18px;
    margin-bottom:30px;
}

.btn{
    background:#f4c542;
    color:#0b3d2e;
    padding:15px 35px;
    border-radius:50px;
    font-weight:700;
    text-decoration:none;
    transition:0.3s;
}

.btn:hover{
    background:#ffd700;
    transform:translateY(-3px);
}

.right img{
    width:420px;
    max-width:100%;
}

@media(max-width:900px){

.hero-content{
flex-direction:column;
text-align:center;
}

.navbar{
flex-direction:column;
gap:20px;
}

.navbar ul{
flex-wrap:wrap;
justify-content:center;
}

.left h1{
font-size:42px;
}

}
